<div class="nav-bar main-font">
  <div class="logo">
    <p class="project-name">Recoflect</p>
  </div>
  <div class="main-links">
    <a routerLink="/home" routerLinkActive="active-link">Home</a>
    <a routerLink="/records" routerLinkActive="active-link">Records</a>
    <a routerLink="/goals" routerLinkActive="active-link">Goals</a>
    <a routerLink="/family" routerLinkActive="active-link">Family</a>
  </div>
  <div class="right-corner">
    @if(isLoggedIn()) {
      <a (click)="logOut()">Log out</a>
    } @else {
      <a routerLink="/login">Log in</a>
    }
  </div>
</div>
