<div class="modal-overlay">
  <div class="modal-box">
    <div class="cancel-btn" (click)="toggleAddRecordPage()">
      x
    </div>

    <div class="title">
      Add record
    </div>
    <div class="hr-line"></div>
    <div class="form-box">
      <form class="record-form" #recordForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-type">
          <label>Type</label>
          <select name="type" [(ngModel)]="record.type">
            @for (type of types; track type) {
              <option [value]="type">{{ type }}</option>
            }
          </select>
        </div>

        <div class="form-category">
          <label>Category</label>
          <select name="category" [(ngModel)]="record.category" required>
            @for (cat of categories; track cat) {
              <option [value]="cat">{{ cat }}</option>
            }
          </select>
        </div>

        <div class="form-amount">
          <label>Amount</label>
          <input type="number" name="amount" [(ngModel)]="record.amount" required>
        </div>

        <div class="form-date">
          <label>Date</label>
          <input type="date" name="date" [(ngModel)]="record.date">
        </div>

        <div class="form-reflection">
          <label>Reflection</label>
          <select name="reflection" [(ngModel)]="record.reflection">
            @for (ref of reflections; track ref) {
              <option [value]="ref">{{ ref }}</option>
            }
          </select>
        </div>

        <button class="submit-btn" type="submit" [disabled]="!recordForm.valid">Save</button>
      </form>
    </div>
  </div>
</div>
