
.main-box {
  width: 380px;
  height: 150px;
  border-radius: 6.7px;
  border: 1px solid black;
}

.goal-box {
  display: flex;
  flex-direction: column;
  margin: -20px 10px;
  overflow-x: hidden;
}

.goal-box p {
  font-size: 28px;
}

.hr-line {
  border: 0.3px solid black;
  width: 100% !important;
  margin-top: -5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.all-goals-btn {
  padding: 4px;
  border-radius: 6.7px !important;
  background-color: #0f5ad1;
  color: #f1f5f9;
}

.all-goals-btn:hover {
  background-color: #145fcc;
  transition: 0.3s ease;
}

.data-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4px 10px;
  align-items: center;
  gap: 15px;
}


.limit-bar {
  height: 25px;
  width: 220px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 7px;
  overflow: hidden;
  background-color: #f1f5f9;
}

.filler {
  height: 100%;
  background-color: #0f5ad1;
}

.goal-title {
  margin-top: 18px;
}

.goal-stat {
  margin-top: 7px;
}
.stat {
  background-color: #0f5ad1;
  padding: 4px;
  border-radius: 6.7px;
  color: #f1f5f9;
  font-size: 22px;
}



